<h1> New Cat Animal </h1>
<%= render 'form' %>
<br>
<% link_to 'Back', root_path %>

<p>lorem ipsum bla blalorem ipsum bla blalorem ipsum bla blalorem ipsum bla blalorem ipsum bla blalorem ipsum bla bla
lorem ipsum bla blalorem ipsum bla blalorem ipsum bla blalorem ipsum bla blalorem ipsum bla blalorem ipsum bla bla
lorem ipsum bla blalorem ipsum bla blalorem ipsum bla blalorem ipsum bla bla
lorem ipsum bla blalorem ipsum bla blalorem ipsum bla bla</p>